html {
    font-size: 16px;
}

body {
    background-color: white;
    font-family: var(--sans-serif);
    line-height: 1.5;
    color: black;
}

header {
    position: relative;
    z-index: 10;
}

a {
    color: var(--links);
    text-decoration: none;
}

a:hover {
    color: var(--links);
}

p {
    margin-bottom: 1rem;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--desktop);
    width: calc( 100% - 2rem );
}

.content-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    width: calc( 100% - 2rem );
}

.full-width {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}


.hero-image {
    background-position: center;
    background-size: cover;
    height: 400px;
    max-height: 75vw;
}

.hero-overlay {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.wordmark {
    margin: -3rem 0 0 0;
    padding: 0;
}

.wordmark,
.wordmark h1 {
    color: black;
    font: normal 2rem/1.5 var(--heading);
    text-transform: uppercase;
}

.wordmark a {
    color: black;
}

.wordmark span {
    color: white;
    text-shadow: 2px 2px 0 black;
}

.header-areas .sticky {
    background-color: var(--gray);
    font-size: 1.5rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

.header-areas .sticky .grid {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto 1fr;
}

.header-areas .sticky .icon {
    color: black;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    transform: translateY(0.25em);
}

.header-areas .sticky .text {
    font-size: 1rem;
}

.header-areas .sticky .text:hover {
    color: red;
}

.menu-toggle {
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    height: 2rem;
    line-height: 0;
    justify-self: end;
    padding: 0 0.5rem;
}

.menu-toggle .label {
    display: block;
    font-size: 1rem;
    margin: 0 0.25rem;
    text-transform: uppercase;
}

.menu-toggle:hover {
    background-color: black;
    color: white;
}

#body:not(.menu-active) .menu-toggle .menu-close,
#body.menu-active .menu-toggle .menu-open {
    display: none;
}

header .navigation {
    background-color: rgba(0,0,0,0.05);
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-in-out 0s;
}

header .navigation ul {
    display: table;
    list-style-type: none;
    width: 100%;
}

header .navigation ul a {
    color: black;
    display: block;
    font-size: 1.25rem;
    margin: 1rem 0;
}

header .navigation ul a:hover {
    color: var(--red);
}

#body.menu-active header .navigation {
    max-height: 99999px;
}

header .quicklinks ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0.5rem 0;
}

header .quicklinks ul a {
    align-items: center;
    background-color: var(--cyan);
    border-radius: 1rem;
    color: white;
    display: flex;
    height: 2rem;
    padding: 0 1rem;
}

header .quicklinks ul a:hover {
    background-color: var(--links);
}


.rating-stars ul {
    color: #EDEDED;
    display: flex;
    font-size: 1.5rem;
    list-style-type: none;
    justify-content: center;
    margin: 1rem auto;
    padding: 0;
}

.rating-stars.rating-5 li.one, 
.rating-stars.rating-5 li.two, 
.rating-stars.rating-5 li.three, 
.rating-stars.rating-5 li.four, 
.rating-stars.rating-5 li.five {
    color: var(--gold);
} 

.rating-stars.rating-4 li.one, 
.rating-stars.rating-4 li.two, 
.rating-stars.rating-4 li.three, 
.rating-stars.rating-4 li.four {
    color: var(--gold);
}

.rating-stars.rating-3 li.one, 
.rating-stars.rating-3 li.two, 
.rating-stars.rating-3 li.three {
    color: var(--gold);
} 

.rating-stars.rating-2 li.one, 
.rating-stars.rating-2 li.two {
    color: var(--gold);
} 

.rating-stars.rating-1 li.one {
    color: var(--gold);
}

.testimonials-carousel {
    position: relative;
    text-align: center;
}

.testimonials-carousel .arrow {
    background-color: white;
    cursor: pointer;
    display: block;
    opacity: 0.5;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    z-index: 2;
}

.testimonials-carousel .arrow:hover {
    opacity: 1;
}

.testimonials-carousel .arrow.next {
    right: 0;
}

.testimonials-carousel .slick-list {
    position: relative;
    z-index: 1;
}

.attribution {
    font: italic 1rem var(--serif);
    margin-top: 1rem;
}

.attribution .location {
    color: rgba(0,0,0,0.5);
}

.reviews-link a.button {
    background-color: var(--cyan);
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

.homepage-cta {
    background-color: var(--gold);
    display: table;
    margin: 1rem 0 1rem 50%;
    padding: 2rem 0;
    text-align: center;
    transform: translateX(-50%);
    width: 100vw;
}

a.button {
    display: block;
    background-color: var(--gold);
    border-radius: 1rem;
    color: black;
    padding: 1rem;
    text-align: center;
    transition: all 250ms linear 0s;
}

a.button:hover {
    background-color: black;
    color: white;
}

.homepage-cta a.button {
    background-color: white;
    color: black;
}

.homepage-cta a.button:hover {
    background-color: black;
    color: white;
}

.homepage-cta .line-1 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.homepage-cta .line-2 {
    font-family: var(--serif);
}

.homepage-cta .line-3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.homepage-cta ion-icon {
    transform: translateY(0.15em);
}

.homepage-cta .columns {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
}

.homepage-services {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.homepage-services a {
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 66.66%;
}

.homepage-services .title {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.homepage-services a:hover .title {
    background-color: black;
}

main.homepage {
    padding: 2rem 0;
}

.slim {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--slim);
    width: calc( 100% - 2rem );
}

.page-content h1 {
    font: normal 2rem/1 var(--heading);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.page-content h2 {
    font: normal 1.5rem var(--heading);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.page-content h3 {
    font: italic 1.25rem/1 var(--serif);
    margin-bottom: 0.5rem;
}

footer {
    background-color: var(--cyan);
    padding: 1rem 0;
}

footer a {
    color: black;
}

footer a:hover {
    color: white;
}

footer ul {
    list-style-type: none;
}

footer h2 {
    font: normal 1rem var(--heading);
    text-transform: uppercase;
}

.footer-columns {
    line-height: 2;
}

.footer-columns > div {
    margin-bottom: 1rem;
}

.subfooter {
    background-color: black;
    color: white;
    line-height: 2;
    padding: 1rem 0;
    text-align: center;
}

.subfooter a {
    color: var(--gold);
}

.subfooter ul {
    list-style-type: none;
}

.copyright,
.subfooter-links,
.subfooter-links li {
    display: inline-block;
}

.subfooter-links li {
    color: var(--cyan);
}

.subfooter-links li:before {
    content: '|';
    margin: 0 0.5rem;
}

.page-content a {
    font-weight: bold;
}

.page-content a:hover {
    border-bottom: 1px solid black;
}

main.single-page {
    padding: 2rem 0;
}

.testimonials-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.testimonial-card {
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: -2px 2px 0 rgba(0,0,0,0.05);
    padding: 1rem;
}

.map-embed {
    height: 0;
    padding-top: 300px;
    position: relative;
    width: 100%;
}

.map-embed iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.contact-form input,.contact-form textarea {
    border: 1px solid var(--cyan);
    border-radius: 0;
    font: normal 1rem/1 var(--sans-serif);
    display: block;
    padding: 0.5rem;
    width: 100%;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 1px solid var(--gold);
    outline: none;
}

.contact-form label {
    font: italic 1rem var(--serif);
}

.contact-form textarea {
    max-height: 4rem;
}

.contact-form .required {
    color: red;
}

.contact-form select {
    border: 1px solid var(--cyan);
    border-radius: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.contact-form input[type=submit] {
    background-color: var(--cyan);
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    float: right;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    width: auto;
}

.contact-form input[type=submit]:hover {
    background-color: var(--gold);
}

.lightbox-gallery {
    column-count: 2;
    column-gap: 1rem;
}

.lightbox-gallery .thumbnail {
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.lightbox-gallery .thumbnail img {
    opacity: 0;
}

.lightbox-gallery .thumbnail:hover {
    opacity: 0.9;
}

.page-content ul, .page-content ol {
    margin: 1.25rem;
}

.page-content li {
    margin-bottom: 1rem;
}

/* Mobile Only Styles */
@media screen and ( max-width: 767px ) {
    .sticky .text {
        display: none;
    }
}