@media screen and ( min-width: 768px ) {

    .header-areas .secondary {
        font-size: 1.25rem;
    }

    .header-areas .primary .graphic img {
        margin-top: 1rem;
        min-width: 200px;
    }
    
    .wordmark {
        font-size: 1.5rem;
    }

    .testimonials-carousel {
        margin: 2rem 0;
    }

    .testimonial-slide .content {
        font-size: 1.25rem;
        margin: 0 auto;
        max-width: var(--slim);
    }

    .testimonials-carousel .arrow {
        font-size: 2rem;
        top: calc( 50% - 1rem );
    }

    .rating-stars ul {
        font-size: 2rem;
    }

    .homepage-cta a {
        padding: 1rem 3rem;
    }

    .homepage-services {
        grid-auto-flow: column;
        grid-template-columns: auto;
        margin: 2rem 0;
    }

    .page-content h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .page-content h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
}